<!DOCTYPE html>
<html>
<head>
    <title>Podsumowanie kredytu</title>
</head>
<body>
    <h1>Podsumowanie kredytu</h1>
    <ul>
        <li>Wnioskowana kwota: {{ amount }}</li>
    </ul>
</body>
</html>